
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <!--Receiving Information from Dynamic object ViewBag-->
        @ViewBag.Greeting World (From ViewBag)
    </div>
</body>
</html>
