
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <!--Receiving Information from Dynamic object ViewBag-->
        @ViewBag.Greeting World (From ViewBag)

        <p>We are having an EXCITING party!!!<br />
            To Do:(Add content)
        </p>

        <!--Link To New Form-->
        <!--ActionLink("TextToDisplay", "ActionToPreform")-->
        @Html.ActionLink("RSVP Now", "RsvpForm")
    </div>
</body>
</html>
